*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul,ol,li{
  list-style: none;
}

img{
  vertical-align: top;
}

h1,h2,h3,h4,h5,h6{
  font-weight: inherit;
  font-size: inherit;
}

html, 
body{
  height: 100%;
  line-height: 1;
  font-size: 20px;
  font-family: 'Libre Franklin', sans-serif;
}

:root{
  --clr-primary:hsl(223, 87%, 63%);
  --clr-second-100:hsl(223, 100%, 88%);
  --clr-second-200:hsl(354, 100%, 66%);
  --clr-neutral-100:hsl(0, 0%, 59%);
  --clr-neutral-200:hsl(209, 33%, 12%);

}

.container{
  margin-inline: 20%;
  /* max-height: 80vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

main{
  max-width: 800px;
}

.logo{
 display: flex;
 justify-content: center;
 margin-bottom: 60px;
}

input{
  outline: none;
}

h1{
  font-size: 2.5rem;
  color: var(--clr-neutral-100);
  font-weight: 300;
  margin-bottom: 30px;
  text-align: center;
}

h1 span{
font-weight: 700;
color: var(--clr-neutral-200);
}

p{
  text-align: center;
  margin-bottom: 40px;
}

form{
  margin-bottom: 50px;
}



label{
  display: flex;
  justify-content: space-between;
  /* height: 50px; */
  position: relative;
}

input{
  border:solid 1px var(--clr-second-100);
  border-radius: 25px;
  padding-left: 20px;
  flex: 2;
  font-size: 0.8rem;
  transition: border 0.1s;
  padding: 15px;
  
}

input:focus{
  border: 2px solid var(--clr-primary);
}

input:focus.red{
  border: 2px solid var(--clr-second-200);
}

.red{
  border: 2px solid var(--clr-second-200);
}

input::placeholder{
  color:var(--clr-second-100);
}

button{
  flex: 1;
  border-radius: 25px;
  background-color: var(--clr-primary);
  color: #fff;
  font-size: 0.8rem;
  margin-left: 20px;
  transition: background-color 0.4s;
  padding: 15px;
}

button:hover{
  background-color: hsl(223, 74%, 72%);
  cursor: pointer;
}

.img{
  display: flex;
  justify-content: center;
}

.img img{
  max-width: 100%;
}


footer{
  color: var(--clr-neutral-100);
  font-size: 0.89rem;
}

.social-buttons{
  display: flex;
  height: 50px;
  justify-content: center;
  margin-top: 40px;
}

svg{
  fill:var(--clr-primary);
  height: 50px;
  width: 50px;
  padding: 10px;
  transition: fill 0.5s;
}



a:nth-child(2){
  margin: 0 30px;
}

footer p{
  margin-top: 40px;
}

a{
  border-radius: 50%;
  border:solid 1px var(--clr-second-100);
  transition: background-color 0.4s;
}

a:hover{
  background-color: var(--clr-primary);
}

a:hover svg{
  fill: #fff;

}

.warn-message{
font-size: 0.7rem;
font-style: italic;
color: var(--clr-second-200);
position:absolute;
top: 120%;
left:20px;
}

.hidden{
  display: none;
}

@media (max-width:755px){
  label{
    display: flex;
    flex-direction: column;
    justify-content: center;
  margin-bottom: 20px;}

  form button{
    margin: 20px 0;
    /* padding: 15px; */
  }

  /* form input{
    padding: 15px;
  } */

  form{
    height: 100px;
  }

  .container{
    margin-inline: 12%;
  }
  
  .warn-message{
    position: initial;
    text-align: center;
    margin-top: 10px;
  }
}